
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Redirecting...</title>
    <link rel="canonical" href="../../../development-guide/project-structure/components/accumulo-store/">
    <meta name="robots" content="noindex">
    <script>var anchor=window.location.hash.substr(1);location.href="../../../development-guide/project-structure/components/accumulo-store/"+(anchor?"#"+anchor:"")</script>
    <meta http-equiv="refresh" content="0; url=../../../development-guide/project-structure/components/accumulo-store/">
</head>
<body>
Redirecting...
</body>
</html>
